* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 3rem;
}

h1 {
    width: 100vh;
    height: 5rem;
    background-color: green;
    color: white;
}

.header {
    width: 100%;
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 3rem;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0;
}

.header-title {
    line-height: 3rem;
    font-size: 2.8rem;
    padding: 0 0.5rem;
    width: 30%;
}

.header-menu {
    width: 70%;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    line-height: 3rem;
}

.external-header {
    position: fixed;
    top: 0%;
    z-index: 999;
    width: 100vw;
    background-color: #a0d9f7;
    height: 3rem;
    color: #103c42;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.right-menu {
    width: 20%;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem; 
    line-height: 2rem;
}

.pricing-overlay {
    position: absolute;
    width: 100vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.pricing-overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4rem;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-weight: 700;
}

.pricing-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    width: 100%;
    height: 80vh;
    background-image: url(../../static/workplace.jpg);
    background-size: cover;
    color: #FFF;
}

.settings-switch {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2rem;
    width: 65%;
}

.settings-switch button {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.settings-left-side {
    width: 20%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.settings-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    height: 60vh;
}

.settings-main {
    display: flex;
}

.settings-card {
    background-color: #E4E4E4;
    width: 60%;
    padding: 2rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
}

.settings-card-title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

.settings-menu-item {
    line-height: 3rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    
}

.settings-menu-item button {
    width: 100%;
    border: none;
    padding: 1rem;
    background-color: #DDD;
    border-bottom: 1px solid white;
}

.support-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    margin: 5rem 10%;
    padding: 3rem;
    background-color: #F0F0F0;
    border-radius: 5px;
}

.support-form-title {
    font-size: 2rem;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

.support-form form {
    width: 100%;
}

.support-form label {
    line-height: 2.4rem;
    font-size: 1.4rem;
}

.form-input {
    width: 100%;
}

.form-input input {
    width: 100%;
    line-height: 2rem;
    font-size: 1.4rem;
    padding: 0.5rem;
}

.form-headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
}

.support-textarea {
    width: 100%;
    margin-bottom: 3rem;
}

.support-form button {
    margin: 1rem;
}

.form-textarea {
    height: 8rem;
    line-height: 2rem;
    font-size: 1.4rem;
    width: 100%;
    padding: 0 0.5rem;
}

.docs-menu {
    width: 20%;
    padding: 1.5rem 0.5rem;
    height: 100vh;
    background-color: #DDD;
}

.docs-menu-item {
    width: 100%;
    padding: 1rem;  
    font-size: 1.2rem;
}

.add-ticket {
    width: 100%;
    padding: 10rem;
}

.external-title {
    line-height: 3rem;
    font-size: 2.8rem;
    padding: 0 0.5rem;
    width: 30%;
}

.external-title a {
    text-decoration: none;
}

.settings-page {
    display: flex;
    flex-direction: column;
}

.settings-header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    font-size: 3rem;
}

.settings-provider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.settings-provider-header {
    width: 30%;
    font-size: 2rem;
}

.settings-provider-option {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.settings-provider-option-header {
    padding: 4rem 0;
    font-size: 2rem;
}

.settings-provider-option-select button {
    margin: 1rem;
    padding: 1rem;
}

.feature-header-title {
    margin: 6rem auto 1rem auto;
    width: 60%;
    font-size: 2.5rem;
}

.feature-header-description {
    width: 60%;
    margin: 2rem auto;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.feature-icon {
    font-size: 3rem;
    color: midnightblue;
}

.feature-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto 3rem;
}

.sign-up-link {
    padding: 0.1rem 1rem;
    background-color: #27ae60;
    border-radius: 15px;
    color: white;
}

.sign-up-link a {
    color: white;
    
}

.feature-focus {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}

.feature-focus-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature-focus-image {
    width:50%;
}

.feature-focus-header {
    font-size: 2.5rem;
    color: darkblue;
}

.feature-focus-description {
    font-size: 1.5rem;
    color: #777;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 42rem;
    width: 45%;
    margin: 4rem auto;
    border: 1px #EEE;
    box-shadow: 0px 0px 8px 12px #F3F3F3;
}

.pricing-card-header {
    font-size: 2rem;
    height: 6rem;
    font-weight: 700;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: darkblue;

}

.pricing-card-price {
    height: 18rem;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9E9E9;
    font-weight: 700;
}

.pricing-card-description {
    font-size: 1.6rem;
    height: 14rem;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.pricing-card-description ul li {
    list-style-type: circle;
    width: 100%;
}

.pricing-card-footer {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    background-color: purple;
    color: white;
    height: 4rem;
}

.login-screen, .signup-screen {
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-header, .signup-header {
    background-color: #0984e3;
    text-align: center;
    line-height: 4rem;
    height: 4rem;
    width: 100%;
    color: white;
    font-size: 2rem;
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #0984e3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
}

.login-form {
    width: 60%;
}

.signup-form {
    width: 50%;
    margin-top: 3rem;
}

.login-form input {
    width: 80%;
    height: 3rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.signup-form input {
    width: 80%;
    height: 2.5rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}

.login-button, .signup-button {
    width: 50%;
    height: 4rem;
    background-color: purple;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.signup-button {
    border-radius: 5px;
}

.login-button-text, .signup-button-text {
    font-size: 2rem;
    color: white;
}

.login-link {
    color: black;
}

.feature-item {
    width: 45%;
    margin: 2rem auto;
}

.feature-item-header {
    margin: 0.5rem 0;
    font-size: 1.6rem;
}

.action-call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: purple;
}

.action-header {
    color: white;
    line-height: 3rem;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.action-button {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 3px;
    background-color: green;
    color: white;
    padding: 0.5rem 2rem;
}

.external-menu {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 40%;
}

.external-menu a, .right-menu a {
    text-decoration: none;
    margin: 0.4rem 1rem;
}

.external-menu a {
    color: #333333;
}

.header-menu a {
    text-decoration: none;
    color: white;
}

.active-link {
    text-decoration: underline;
}

.splash-title {
    position: absolute;
    top: 25%;
    left: 42%;
    background: transparent;
    color: #103c42;
    font-size: 4rem;
}

.splash-subtitle {
    position: absolute;
    top: 42%;
    left: 30%;
    font-size: 2rem;
    line-height: 3rem;
}

.site-map {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 30vh;
    background-color: #F2F2f2;
    border-top: 1px solid darkgray;
}

.header-menu a, .header-menu p {
    color: white;
}

.site-map-logo {
    font-size: 3rem;
    font-size: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site-map-item {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 80%;
    justify-content: center;
}

.site-map-item-header {
    font-weight: 700;
    margin: 0.5rem auto;
}

.site-map-item-link {
    margin: 0.5rem auto;
}

.site-map-item-link a:link, .site-map-item-link a:visited {
    text-decoration: none;
    color: black;
}

.accounts {
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
}

.accounts-header {
    margin: 2rem;
}

.account-list, .rule-list {
    margin: 5rem auto;
    width: 80%;
}

.app {
    height: 100vh;
}

.account-item, .rule-item {
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
}

.account-item:first-child {
    border-top: 1px solid #CCC;
}

.account-item-field {
    width: 25%;
    display: flex;
    justify-content: center;
}

.account-item-field input {
    width: 90%;
    padding-left: 2rem;
}

.account-item-field select {
    width: 50%;
}

.account-item-buttons {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.rule-item:first-child {
    border-top: 1px solid #CCC;
}

.error-item {
    padding: 1rem;
    color: red;
}

.remove-button {
    border: none;
    background-color: #e74c3c;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 3px;
}

.add-button {
    background-color: #0984e3;
    color: white;
    border-radius: 3px;
    padding: 0.4rem 1rem;
    font-weight: 400;
    border: none;
}

.large-button {
    height: 2rem;
}

.rule-header, .account-header {
    display: flex;
    justify-content: space-around;
    padding: 0.8rem 1rem;
    background-color: #0984e3;
    line-height: 2rem;
    font-size: 1.4rem;
    color: #FFF;
}

.rule-detail {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.rule-description {
    width: 60%;
}

.rule-category, .rule-provider {
    width: 20%;
}

.rule-status {
    width: 20%;
    display: flex;
    justify-content: center;
}

.disabled-button, .enabled-button {
    border-radius: 3px;
    width: 5rem;
    border: none;
}

.enabled-button {
    background-color: #27ae60;
    color: #FFF;
    padding: 0.2rem 0;
    height: 2rem;
}

.disabled-button {
    background-color: lightgray;
    color: gray;
    padding: 0.2rem;
    height: 2rem;
}

.dashboard {
    background-color: #EEE;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}

.dashboard-header {
   margin: 0 auto;
   text-align: center;
   flex-grow: 1;
}

.dashboard-main {
    flex-grow: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.dashboard-footer {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.dashboard-item {
    background-color: #FFF;
    height: 50vh;
    width: 50vh;
    border: 1px solid #CCC;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dashboard-header {
    line-height: 3rem;
    font-size: 2rem;
    padding: 0 1rem;
}

.dashboard-main {
    padding: 0.5rem 1rem;
    border-top: 1px dotted gray;
}

.splash {
    background-image: url(../../static/lighthouse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.feature-focus {
    background-color: #fff;
    height: 50vh;
    padding: 1rem 3rem;
    margin: auto;
}

.support-list {
    width: 70%;
    background-color: #EEE;
    padding: 2rem;
    margin: 2rem;
}

.support-list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 3rem;
    font-size: 1.5rem;
    border-bottom: 2px solid #DDD;
    background-color: white;
    padding-left: 1rem;
    color: #555;
}

.support-list-attribute {
    width: 30%;
}

/* ------------------------ Media Queries ------------------------------- */

@media screen and (max-width: 600px) {

    .header-title {
        width: 100%;
        text-align: center;
        line-height: 5rem;
        font-size: 4rem;
    }

    .external-header {
        height: 6rem;
        flex-wrap: wrap;
    }

    

    .header-menu {
        width: 100%;
    }

    .login-form {
        width: 90%;
    }

    .pricing-card {
        width: 80%;
    }

    .pricing-card-header {
        font-size: 4rem;
    }

    .pricing-header, .pricing-overlay {
        height: 60vh;
    }

    .header {
        height: 8rem;
        flex-wrap: wrap;
    }

    .feature-header-title {
        width: 90%;
        font-size: 1.7rem;
        margin: 9rem auto 1rem auto;
        text-align: center;
    }

    .feature-header-description {
        width: 80%;
    }

    .feature-icon {
        font-size: 12rem;
        margin: auto;
        width: 100%;
        color: midnightblue;
    }

    .feature-item {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .feature-item-header {
        margin: 1rem auto;
    }

    .feature-focus {
        width: 100%;
        padding: 1rem;
    }

    .feature-focus-text {
        width: 100%;
    }

    .feature-focus-header {
        margin: 1rem 0;
        font-size: 1.7rem;
        width: 100%;
    }

    .splash {
        background-size: 100% 100%;
        height: 50vh;
    }

    .splash-title {
        top: 14%;
        left: 30%;
        font-size: 2.6rem;
    }

    .splash-subtitle {
        top: 20%;
        left: 30%;
        font-size: 1rem;
        width: 60%;
    }

    .external-title {
        line-height: 3rem;
        font-size: 2.6rem;
        padding: 0 0.5rem;
        width: 100%;
        text-align: center;
    }

    .external-title a {
        text-decoration: none;
    }

    .external-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1rem;
        line-height: 1.2rem;
        width: 50%;
    }

    .external-menu a {
        margin: 0.4rem 0.5rem;
    }

    .signup-form {
        width: 90%;
    }

    .right-menu {
        width: 50%;
        font-size: 1rem;
        align-items: center;
    }

    body {
        margin-top: 5rem;
    }

    .right-menu a {
        margin: 0;
    }

    .site-map-logo, .site-map-item {
        font-size: 0.8rem;
        font-size: 700;
    }

    .pricing-card-price {
        font-size: 3rem;
    }
}