
/************************** General items used across many pages *********************/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

input  {
    border: 1px solid #AAA;
}

.mobile-menu-button {
    visibility: hidden;
}

.mobile-menu-hidden {
    margin-top: 3.5rem;
}

.purify-header {
    width: 100vw;
    background-color: #0984e3;
    color: white;
    display: flex;
    justify-content: space-between;
    min-height: 4rem;
}

.mobile-menu-showing {
    margin-top: 22rem;
}

.victory-chart {
    max-width: 250px;
    max-height: 250px;
}

.external-title {
    line-height: 3rem;
    font-size: 2.8rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0.5rem;
    width: 30%;
}

.external-title-name {
    margin: 0 1rem;
    color: white;
}

.external-title a {
    text-decoration: none;
    color: white;
}

.header-title {
    line-height: 3rem;
    font-size: 2.8rem;
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
}

.header-menu {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5rem;
    line-height: 3rem;
}

.header-menu a {
    padding: 0 0.8rem;
}

.features-header {
    display: flex;
    padding: 3rem 0;
    width: 90%;
    justify-content: center;
}

.features-header-message {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.navigation {
    display: flex;
    justify-content: center;
    width: 100%;
}

.saml-message {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.rule-notification-tag {
    margin: 0.5rem 0;
}

.external-header {
    width: 100%;
    height: 5rem;
    background-color: #0984e3;
    opacity: 0.95;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    line-height: 2rem;
}

.right-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5rem; 
    line-height: 2rem;
    padding-right: 1rem;
    width: 28%;
}

.orange-button {
    background-color: #e17055;
    border: 1px solid #e17055;
    color: white;
    transition: border 0.2s, background-color 0.2s;
}

.clear-button {
    border: none;
    background-color: transparent;
}

/*************************** Dashboard Page CSS ****************************/

.dashboard-title {
    font-size: 40px;
    font-weight: 400;
    width: 100%;
    line-height: 160%;
}

.dashboard-trends-header {
    display: flex;
    width: 100%;
}

.dashboard-trends-title {
    width: 30%;
    font-size: 40px;
    font-weight: 400;
    line-height: 160%;
}

.dashboard-title-short {
    font-size: 40px;
    font-weight: 400;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    line-height: 140%;
}

.dashboard-filters {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 0 1rem 0;
    height: 100%;
    font-size: 16px;
}

.dashboard-page {
    margin: 0;
    padding-bottom: 2rem;
    background-color: #F5F7FB;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

.dashboard-max {
    max-width: 1500px;
    background-color: #F5F7FB;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 94%;
    margin: 0 auto;
    padding-top: 1.5rem;
}

.dashboard-main {
    flex-grow: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;
}

.dashboard-item {
    background-color: rgba(0, 184, 148, 0.75);
    width: 25%;
    margin: 4% 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    padding: 0 1.2rem;
    height: 10rem;
}

.dashboard-header {
    line-height: 3rem;
    font-size: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    margin: 0 auto;
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.dashboard-main {
    padding: 0.5rem 1rem;
}

.dashboard-metrics {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dashboard-trends {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
}

.dashboard-footer {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    color: white;
}

.dashboard-trends-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

.dashboard-progress-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
}

.dashboard {
    background-color: #F5F7FB;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 95%;
    min-height: 90vh;
}

.dashboard-card {
    margin: 1rem;
    width: 46%;
}

.dashboard-category {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    background-color: #EEE;
    margin-bottom: 1rem;
    width: 100%;
}

.dashboard-category-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.dashboard-category-item {
    width: 90%;
}

.dashboard-cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}

.dashboard-card-statistics {
    display: flex;
}

.dashboard-card-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    width: 100%;
}

.dashboard-card-key {
    display: flex;
    justify-content: flex-end;
}

.dashboard-key-item {
    padding: 0 1rem;
}

.dashboard-card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.new-account-modal p {
    margin: 1rem 0;
}

.new-account-modal input {
    width: 75%;
}

.new-account-modal-input {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.progress-header {
    width: 100%;
    display: flex;
}

.dashboard-chart-label {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.dashboard-headlines {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dashboard-sidebar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

.dashboard-sidebar-2 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

.dashboard-categories {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.card-wrapper {
    width: 15%; 
    display: flex;
    align-items: stretch;
}

.card-metric-wrapper {
    font-size: 40px; 
    font-weight: bold; 
    display: flex; 
    justify-content: center; 
    padding: 0.5rem 0;
}

/********************** Payment Screen *****************************/

.payments-screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F3F3F3;
    min-height: 100vh;
}

.payments-display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 1px solid #CCC;
    width: 90%;
}

.account-details {
    font-size: 40px;
}

.payments {
    width: 40%;
    background-color: white;
    padding: 0 2rem 2rem 2rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 300px;

}

.payments h1 {
    padding: 1rem;
    width: 100%;
}

.payments-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    min-height: 85vh;
}

.checkout {
    display: flex;
    flex-direction: column;
    min-height: 150px;
    justify-content: space-around;
}

.StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}
  
.StripeElement--invalid {
    border-color: #fa755a;
}
  
.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

/**************************** Settings Page *****************************/

.settings-div {
    width: 100%;
}

.settings-row {
    width: 100%;
    display: flex;
    margin: 1rem 0 1rem 1rem;
}

.settings-switch {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2rem;
    width: 60%;
}

.settings-switch button {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.settings-left-side {
    width: 30%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.settings-subscription {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
}

.settings-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #F9F9F9;
    border-radius: 24px;
    border: 1px solid #CCC;
    margin: 0.2rem 0;
}

.settings-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.settings-card {
    background-color: #F9F9f9;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 1px solid #DDD;
    border-radius: 10px;
    margin: 0.5rem 0;
    width: 100%;
}

.settings-card-title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    padding: 0.5rem 0;
    align-items: flex-start;
}

.settings-menu-item {
    line-height: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin: 0.2rem;
}

.settings-menu-item button {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 24px;
    border: none;
}

.cancel-account {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.settings-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #F5F7FB;
    padding-bottom: 4rem;
}

.settings-header {
    width: 85%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 3rem;
    margin: 1rem 0;
}

.settings-provider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.settings-provider-header {
    width: 30%;
    font-size: 2rem;
}

.settings-provider-option {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.settings-provider-option-header {
    padding: 4rem 0;
    font-size: 2rem;
}

.settings-provider-option-select button {
    margin: 1rem;
    padding: 1rem;
}

/**************************** Feature Page ***************************/

.feature-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4rem 0;
    max-width: 1400px;
    width: 80%;
}

.feature-card {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 2rem;
    border: 1px solid #DDD;
}

.feature-card .feature-focus-image {
    width: 100%;
}

.feature-card .feature-focus-description {
    width: 100%;
    font-size: 1rem;
}

.feature-card .feature-focus-header {
    width: 100%;
}

.loading-modal {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
}

.feature-header {
    opacity: 0.8;
    background-image: url('../../static/drip.jpg');
    max-height: 75vh;
    width: 100%;
}

.feature-header-title {
    margin: 4rem auto 4rem auto;
    width: 70%;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color: white;
}

.feature-header-description {
    width: 60%;
    margin: 2rem auto;
    font-size: 4rem;
    line-height: 160%;
    display: flex;
    justify-content: center;
}

.feature-icon {
    font-size: 3rem;
    color: midnightblue;
}

.feature-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto 3rem;
}

.web-metrics {
    transition: height 5s;
}

.feature-focus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin: 4rem 0;
    width: 80%;
    max-width: 1200px;
}

.home {
    justify-content: center;
}

.feature-focus-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 45%;
}

.feature-focus-image {
    width:45%;
}

.feature-focus-image img {
    width: 100%;
    height: 100%;
}

.feature-focus-header {
    font-size: 2rem;
    color: #333;
    margin: 1rem;
}

.feature-focus-description {
    font-size: 1.5rem;
    color: #555;
    width: 90%;
    line-height: 140%;
}

.feature-item {
    width: 45%;
    margin: 2rem auto;
}

.feature-item-header {
    margin: 0.5rem 0;
    font-size: 1.6rem;
}

.add-notifications {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.add-notifications input {
    width: 70%;
}

.notification-group {
    width: 100%;
    padding: 1rem 2rem;
    min-height: 3rem;
    display: flex;
    justify-content: center;
}

/********************** User Page *************************/

.add-user-form {
    border: 1px solid #AAA;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #F7F7F7;
}

.users-max {
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
}

/************************ Support Page ************************/

.support-list {
    background-color: #FFF;
    padding: 1rem 0;
    border: 1px solid #DDD;
}

.support-list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 3rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #DDD;
    background-color: white;
    margin: 1rem;
    color: #555;
}

.support-container {
    width: 100%;
}

.support-list-attribute {
    width: 30%;
}

.support-headers {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.support-header {
    margin: 1rem 0;
}

.support-header button {
    border: none;
}

.inactive-support-header {
    color: #999;
    background-color: #EEE;
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    border: 1px solid #DDD;
    margin: 2rem 0;
}

.support-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid #DDD;
}

.form-field {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-field:first-child {
    margin-top: 2rem;
}

.form-field input, .form-field textarea  {
    margin-top: 0.5rem;
}

.form-submit {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.support-form-buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.support-form-title {
    font-size: 2rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
    background-color: #FAFAFA;
    width: 100%;
    display: flex;
    justify-content: center;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.support-form form {
    width: 100%;
}

.support-form label {
    line-height: 2.4rem;
    font-size: 1.4rem;
}

.form-input {
    width: 100%;
}

.form-input input {
    width: 100%;
    line-height: 2rem;
    font-size: 1.4rem;
    padding: 0.5rem;
}

.form-headline {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
}

.form-description {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
}

.support-textarea {
    width: 100%;
    margin-bottom: 3rem;
}

.support-form button {
    margin: 1rem;
}

.form-textarea {
    height: 8rem;
    line-height: 2rem;
    font-size: 1.4rem;
    width: 100%;
    padding: 0 0.5rem;
}

.rules-drawer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 80vh;
}

.rules-drawer-top {
    padding-bottom: 5rem;
}

.rules-drawer-bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.rules-drawer-configuration {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 1rem;
}

.rules-table-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.rules-drawer-configuration button {
    margin: 2rem;
}

.user-name {
    display: flex;
    margin-right: 1rem;
    align-items: flex-start;
}

.progress-text {
    font-size: 2.3rem;
    color: slategray;
}

.support-screen {
    background-color: #F5F7FB;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 90vh;
}

.support-screen-max {
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
}

.support-right-side {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    min-height: 90vh;
}

.support-screen-header {
    width: 100%;
    padding: 1rem 0;
    margin-top: 1rem;
    max-height: 5rem;
    display: flex;
    justify-content: space-between;
}

.add-ticket {
    width: 100%;
    padding: 10rem;
}

/********************** Rules Page **************************/

.rules {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 95%;
    min-height: 90vh;
    padding: 2rem 0 3rem 0;
}

.rules-max, .accounts-max {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

.accounts-max {
    max-width: 900px;
}

.rules-max {
    max-width: 1100px;
}

.rules-header-new {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 2rem;
}

.rules-header {
    width: 35%;
}

.rule-name {
    width: 50%;
}

.rule-category, .rule-provider {
    width: 25%;
}

.rule-status {
    width: 25%;
    display: flex;
    justify-content: center;
}

/*********************** Docs Page ********************/

.docs-menu-link {
    color: #1890ff;
    background: transparent;
    border: none;
}

.docs-menu {
    width: 15%;
    padding: 5rem 0.5rem;
    height: 100vh;
    background-color: #2d3436;
}

.docs-menu-item {
    width: 90%;
    padding: 1rem; 
    color: #DDD;
    font-size: 0.8rem;
}

.docs-main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.docs-menu-header {
    color: white;
    font-weight: 700;
}

.docs-section {
    width: 85%;
    padding: 3rem 6rem;
    background-color: #F3F3F3;
}

.docs-section ul, .docs-section h2, .docs-section h3 {
    margin: 2rem;
    line-height: 140%;
}

.docs-section li {
    margin: 0.5rem 0;
}

.docs-section p {
    line-height: 140%;
}

.sign-up-link {
    padding: 0.2rem 1rem;
    background-color: #00b894;
    border-radius: 5px;
    color: white;
}

.external-title a:link, .external-title a:visited {
    color: white;
    text-decoration: none;
}

.sign-up-link a {
    color: white;
    
}


.add-user {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.add-user input {
    padding: 0.5rem;
    border-radius: 5px;
}

.user-email {
    width: 80%;
}

.add-user-button {
    width: 20%;
    display: flex;
    justify-content: center;
}

.add-user-header, .add-user-item {
    display: flex;
    width: 80%;
    padding: 0.5rem;
}

.add-user-header-item {
    width: 40%;
}

.add-user-item-container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.add-user-item-container label {
    margin-right: 1.5rem;
}

.user-radio {
    width: 1rem;
    margin-right: 0.5rem;
}

.features-page {
    justify-content: center;
}

/********************* Pricing Page ***********************/

.pricing-page, .features-page, .home, .docs-page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.pricing-main {
    width: 70%;
    margin: auto;
    max-width: 1200px;
}

.pricing-header-new {
    padding: 2rem 0;
    font-size: 40px;
    font-weight: 700;
}

.pricing-description {
    font-size: 24px;
}

.pricing-note {
    margin-top: 1rem;
    font-size: 16px;
}

.pricing-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin: 4rem 0;
    width: 100%;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33.1%;
    border-right: 1px solid #EEE;
}

.pricing-card-new {
    max-width: 300px;
    display: flex;
    align-items: stretch;
    width: 45%;
}

.pricing-card:last-child {
    border: none;
}

.pricing-card-header {
    font-size: 2rem;
    height: 6rem;
    font-weight: 700;
    margin: 0 auto 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
}

.pricing-card-price {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    padding: 0 1rem;
    color: #103c42;
}

.pricing-card-button {
    width: 80%;
    background-color: #6c5ce7;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem 0;
}

.pricing-card-footer a:hover {
    background-color: #a29bfe;
}

.pricing-card-description {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
    padding: 2rem;
}

.pricing-card-description ul {
    padding: 0 0.5rem;
    margin-top: 1rem;
}

.pricing-card-description ul li {
    list-style-type: circle;
    width: 100%;
}

.pricing-card-footer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: white;
}

/**************** Login Page *************************/

.login-screen, .signup-screen {
    background-color: #F5F7FB;  /* fallback for old browsers */ 
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.login-header, .signup-header {
    background-color: white;
    padding: 1rem;
    line-height: 4rem;
    height: 4rem;
    width: 80%;
    color: #333;
    font-size: 1.4rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.login-container, .signup-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1rem;
}

.login-container button, .login-container a, .signup-container button, .signup-container a {
    margin: 1rem 0;
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #CCC;
    background-color: white;
    border-radius: 5px;
    height: auto;
    max-width: 500px;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    width: 40%;
}

.forgot-password {
    display: flex;
    justify-content: flex-end;
    border: none;
    background: transparent;
    color: blue;
    width: 30%;
}

.password-button {
    width: 40%;
}

.login-form {
    width: 50%;
}

.signup-form {
    width: 50%;
}

.login-form label, .signup-form label {
    font-size: 1.2rem;
    margin-top: 0.8rem;
}

.login-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.login-button, .signup-button {
    width: 40%;
    height: 4rem;
    background-color: #00b894;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: none;
}

.signup-button {
    border-radius: 5px;
}

.login-button-text, .signup-button-text {
    font-size: 2rem;
    color: white;
}

.login-link {
    color: black;
}

.external-menu a:hover, .right-menu a:hover {
    color: #DDD;
    text-decoration: underline;
}

.action-call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    margin-top: 4rem;
    background-color: #0984e3;
}

.action-header {
    color: white;
    line-height: 4rem;
    font-size: 3rem;
    margin: 1rem auto;
    width: 90%;
    display: flex;
    justify-content: center;
}

.action-button {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 3px;
    background-color: #00b894;
    color: white;
    padding: 0.5rem 2rem;
    text-decoration: none;
}

.external-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 40%;
}

.external-menu a:link, .right-menu a:link {
    text-decoration: none;
}

.external-menu a, .right-menu a {
    margin: 0.4rem 1rem;
    color: white;
}

.header-menu a {
    text-decoration: none;
    color: white;
}

.header-menu a:hover {
    color: #DDD;
}

.active-link {
    text-decoration: underline;
}

/******************** Home Page ***************************/

.splash {
    background-size: cover;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 1;
}

.splash-text {
    display: flex;
    flex-direction: column;
    color: white; 
    width: 70%;
}

.coupon {
    padding: 1rem 0;
}

.splash-image {
    transform: scale(1.5);
}

.splash-image-container {
    width: 40%;
    display: flex;
    justify-content: center;
}

.splash-title {
    position: absolute;
    top: 25%;
    left: 42%;
    background: transparent;
    color: #103c42;
    font-size: 4rem;
}

.splash-subtitle {
    font-size: 2rem;
    line-height: 160%;
    width: 100%;
    color: white;
    z-index: 200;
}

.splash-signup {
    height: 5rem;
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.splash-subtitle-new {
    font-size: 1.5rem;
    width: 70%;
}

.splash-overlay {
    height: 70vh;
    width: 100%;
    opacity: 0.95;
    background-color: #0984e3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-right-radius: 70% 20%;
    border-bottom-left-radius: 30% 5%;
}

.site-map {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: auto;
    background-color: #636e72;
    padding: 4rem 0;
}

.footer-button {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-button-header {
    color: white;
    padding: 2rem 0;
    font-size: 24px;
}

.header-menu a, .header-menu p {
    color: white;
}

.site-map-logo {
    font-size: 5rem;
    font-weight: 700;
    height: 100%;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.site-map-logo a:link, .site-map-logo a:visited {
    text-decoration: none;
    color: white;
}

.site-map-logo h1 {
    color: white;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0;
}

.site-map-item {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: flex-start;
}

.site-map-item-header {
    font-weight: 700;
    margin: 0.5rem auto;
}

.site-map-item-link {
    margin: 0.5rem auto;
}

.site-map-item-link a:link, .site-map-item-link a:visited {
    text-decoration: none;
    color: black;
}

.accounts {
    display: flex;
    flex-direction: column;
    background-color: #F5F7FB;
    width: 95%;
    min-height: 90vh;
}

.rules-page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    float: left;
    min-height: 100%;
    background-color: #F5F7FB;
}

.rules-page:after {
    content: "";
    display: table;
    clear: both;
}

.accounts-page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #F5F7FB;
}

.accounts-header {
    margin: 2rem;
}



.data-missing-dashboard {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-list, .rule-list {
    width: 80%;
}

.account-list {
    margin: 1rem auto;
    max-width: 800px;
}

.rule-list {
    margin: 1rem auto;
}

.app {
    height: 100vh;
}

.support-page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #F5F7FB;
}

.users-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
    margin-top: 1rem;
}

.users-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 90vh;
    background-color: #F5F7FB;
}

.account-item, .rule-item, .dashboard-category-item, .users-item, .add-user-item {
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 1rem;
    display: flex;
    background-color: #FFF;
    line-height: 2rem;
    font-size: 1.2rem;
}

.users-list {
    width: 70%;
    margin: 3rem;
}

.account-item, .rule-item {
    justify-content: flex-start;
}

.users-item {
    justify-content: space-around;
}

.dashboard-category-item {
    justify-content: space-between;
}

.account-item:first-child {
    border-top: 1px solid #CCC;
}

.account-item-field {
    width: 20%;
    display: flex;
    justify-content: center;
}

.account-buttons {
    width: 20%;
    display: flex;
    justify-content: center;
}

.account-buttons button {
    height: 2rem;
}

.account-item-field input {
    width: 90%;
    padding-left: 0.4rem;
    height: 2rem;
}

.account-item-field-large {
    width: 40%;
    display: flex;
    justify-content: center;
}

.account-item-field-large input {
    width: 70%;
    padding: 0.4rem 0 0.4rem 1rem;
    border-radius: 5px;
}

.account-item-field select {
    width: 50%;
}

.rule-arrow {
    border: none;
    color: white;
    background-color: transparent;
    padding: 0 1rem;
}

.rule-arrow-dark {
    color: #555;
    border: none;
    background-color: transparent;
}

.account-item-buttons {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.loading-spinner {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rule-item {
    flex-wrap: wrap;
    transition: height 2s;
}

.rule-item:first-child {
    border-top: 1px solid #CCC;
}

.rule-description {
    margin: 1rem 0.5rem;
    color: #555;
}

.filter-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0 1rem 0;
    width: 20%;
    color: #636e72;
}

.submit-button {
    margin: 1rem 0;
}

.filters {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem auto;
    color: #636e72; 
    padding: 0.5rem 0;
}

.button-selected {
    background-color: rgba(116, 185, 255, 0.3);
    border: none;
    color: #0984e3;
}

.table-header {
    background-color: transparent;
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
}

.table-header-2 {
    background-color: red;
}

th, td {
    background-color: white;
}

.history-page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.history-max {
    width: 80%;
    margin: auto;
}

.history-main {
    min-height: 90vh;
    background-color: #F5F7FB;
}

.button-unselected {
    background-color: #FFF;
    border: 1px solid #AAA;
}

.table-column {
    background-color: blue;
}

.rules-options {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 1200px;
}

.filter {
    margin: 0.4rem 0;
    width: 100%;
}

.filter-button {
    padding: 1rem 2rem;
    border-radius: 5px;
}

.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 1rem;
    width: 25%;
}

.filter-container option, .filter-container select {
    padding: 0.5rem;
    width: 80%;
    border-radius: 5px;
}

.rules-bulk-switch {
    display: flex;
    justify-content: flex-end;
}


.rules-header h2 {
    margin-bottom: 0;
}


.progress-items {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.rules-bulk-switch a {
    padding: 1rem;
    margin: 1rem;
    border: 1px #AAA solid;
    border-radius: 5px;
    color: #636e72;
    background-color: #FFF;
}

.rules-bulk-switch a:hover {
    background-color: #00b894;
    color: white;
}

.error-item {
    padding: 1rem;
    color: red;
    width: 90%;
}

.confirm-form {
    padding: 2rem;
    background-color: white;
    border: 1px solid #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.confirm-form input {
    margin-bottom: 1rem;
}

.empty-ticket-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.remove-button {
    border: none;
    background-color: #e74c3c;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 3px;
}

.add-button {
    background-color: #0984e3;
    color: white;
    border-radius: 3px;
    padding: 0.4rem 1rem;
    font-weight: 400;
    border: none;
}

.large-button {
    height: 2rem;
}

.users-page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #F5F7FB;
}

.rule-header, .account-header, .dashboard-category-header, .add-user-header {
    display: flex;
    justify-content: flex-start;
    padding: 0.7rem 1rem;
    background-color: rgba(9, 132, 227, 0.8);
    border: 1px solid rgba(9, 132, 227, 0.8);
    line-height: 2rem;
    font-size: 1.4rem;
    color: #FFF;
}

.button-group {
    border: 1px solid #999;
    border-radius: 5px;
}

.rule-detail {
    display: flex;
    justify-content: space-between;
}

.site-map-item a:hover {
    color: #777;
}

.disabled-button, .enabled-button {
    border: none;
    padding: 0 1.2rem;
}

.enabled-button {
    background-color: #27ae60;
    color: #FFF;
    height: 2rem;
}

.disabled-button {
    background-color: white;
    color: gray;
    height: 2rem;
}

.spin-container {
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-menu {
    width: 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}

.card-test {
    width: 20%;
}

.left-menu-item:first-child {
    margin-top: 6rem;
}

.left-menu-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.left-menu-item a:hover {
    background-color: #EEE;
}

.left-menu-item a:link, .left-menu-item a:visited {
    color: #333;
    padding: 1rem 0;
    width: 100%;
}

.left-menu-item a {
    display: flex;
    justify-content: center;
}

.pricing-feature-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 4rem;
    background-color: #F3F3F3;
    padding-left: 3rem;
}

/*************** History Page **********************/

.history-profile {
    display: flex;
}

.history-profile-names {
    display: flex;
    flex-direction: column;
}

.history-chart-header {
    display: flex;
    width: 100%;
}

.history-chart-header-title {
    width: 30%;
    display: flex;
    align-items: center;
}

.feature-card-new {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3rem 1rem;
}

.feature-card-new-title {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.feature-card-new-image {
    display: flex;
    justify-content: center;
    width: 100%;
}

.feature-card-new-image img {
    max-width: 500px;
    max-height: 345px;
}

.feature-card-new-description {
    padding: 1rem 2rem;
    font-size: 20px;
    line-height: 150%;
}

.history-chart-header-filters {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    align-items: center;
}

.red-icon {
    color: red;
}

.green-icon {
    color: green;
}

.drawer-submit {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    padding-top: 1rem;
}

.empty-list {
    height: 50vh;
}

/* ------------------------ Media Queries ------------------------------- */

@media screen and (max-width: 600px) {

    .confirm-form {
        width: 90%;
    }

    .feature-card {
        width: 100%;
    }

    .feature-card-new-image img {
        max-width: 325px;
    }

    .feature-card-new {
        margin: 2rem;
    }

    .footer-button button {
        display: block;
        width: 100%;
    }

    .footer-button {
        align-items: center;
    }

    .footer-button-main {
        width: 60%;
    }

    .splash-overlay {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 3rem;
        border-bottom-right-radius: 70% 8%;
        border-bottom-left-radius: 30% 2%;
    }

    .feature-card-new-description {
        font-size: 16px;
    }

    .splash-text {
        width: 95%;
        margin: 2rem auto;
    }

    .splash-subtitle-new {
        font-size: 1rem;
    }

    .feature-card-new-title {
        flex-wrap: wrap;
        font-size: 20px;
        font-weight: 700;
        margin: 2rem 0 1rem 0;
    }

    .site-map {
        flex-direction: column-reverse;
        padding: 2rem 0;
    }

    .site-map-logo {
        width: 100%;
        align-items: center;
    }

    .footer-button {
        width: 90%;
        margin-bottom: 2rem;
    }

    .footer-button-header {
        display: flex;
        justify-content: center;
        font-size: 16px;
    }

    .trend-card-wrapper {
        width: 48%;
    }

    .features-header-message {
        width: 90%;
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .pricing-card-new {
        width: 90%;
    }

    .dashboard-trends-header {
        flex-wrap: wrap;
    }

    .dashboard-top {
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
    }

    .history-chart-header {
        flex-wrap: wrap;
    }

    .user-name {
        margin-right: 0;
    }

    .settings-subscription {
        width: 100%;
        align-items: stretch;
    }

    .login-header, .signup-header, .login-form label, .signup-form label {
        font-size: 0.9rem;
    }

    .history-chart-header-title {
        width: 100%;
    }

    .history-chart-header-filters {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .dashboard-trends-container {
        flex-direction: column;
        align-items: stretch;
    }

    .dashboard-filters {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1rem;
    }

    .dashboard-page {
        padding-bottom: 1rem;
    }

    .dashboard-max {
        padding-top: 0;
    }

    .dashboard-score {
        width: 100%;
    }

    .purify-header {
        flex-wrap: wrap;
    }

    .rules-header-new {
        flex-direction: column;
        align-items: center;
    }

    .dashboard-headlines {
        flex-wrap: wrap;
    }

    .card-wrapper {
        width: 48%;
    }

    .left-menu-item {
        height: 100%;
    }

    .left-menu-item a {
        height: 100%;
    }

    .left-menu-item i {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dashboard-max {
        width: 95%;
    }

    .rules-header {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .web-rules, .web-accounts {
        display: none;
    }

    .settings-row {
        margin-left: 0;
    }

    .mobile-rules {
        margin: 0 auto;
        width: 100%;
    }

    .forgot-password-form {
        width: 90%;
    }

    .support-right-side {
        width: 100%;
        align-items: center;
    }

    .support-screen-header {
        width: 100%;
    }

    .settings-div {
        margin: 0 auto;
    }

    .settings-main {
        width: 95%;
    }

    .settings-row {
        flex-direction: column;
        justify-content: center;
    }

    .settings-left-side, .settings-switch {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 0 0.5rem 0;
    }

    .web-metrics {
        width: 100%;
        align-items: stretch;
    }

    .payments {
        width: 90%;
        margin: 2rem auto;
    }

    .payments-main {
        width: 90%;
    }

    .progress-items {
        flex-wrap: wrap;
    }

    .dashboard-card {
        width: 90%;
    }

    .dashboard-cards {
        flex-wrap: wrap;
    }

    .rules, .accounts {
        width: 100%;
        min-height: 75vh;
    }

    .rules-bulk-switch a {
        margin: 0.5rem;
    }

    .rules-bulk-switch {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .support-screen {
        width: 100%;
    }

    .support-drawer {
        width: 80%;
    }

    .feature-cards {
        width: 90%;
        margin: 2rem 0;
    }

    .rules-options {
        width: 100%;
    }

    .filters {
        flex-direction: column;
    }

    .filter-menu {
        width: 35%;
    }

    .filter-container {
        width: 90%;
    }

    .pricing-cards {
        flex-wrap: wrap;
    }

    .left-menu {
        width: 100%;
        flex-direction: row;
    }

    .dashboard {
        width: 100%;
    }

    .left-menu-item:first-child {
        margin-top: 0;
    }

    .dashboard-item {
        width: 90%;
    }

    .header-title {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        line-height: 5rem;
        font-size: 3.2rem;
    }

    .header-menu {
        justify-content: space-around;
    }

    .progress-header {
        display: flex;
        flex-wrap: wrap;
    }

    .dashboard-chart-label {
        width: 100%;
    }

    .users-main {
        width: 100%;
        min-height: 75vh;
    }

    .add-user-form {
        width: 95%;
    }

    .history-main {
        width: 100%;
        min-height: 95vh;
    }

    .dashboard {
        padding: 1rem 0;
        width: 100%;
    }

    .dashboard-card-header {
        display: flex;
        flex-wrap: wrap;
    }

    .dashboard-item {
        margin: 0.5rem 0;
    }

    .dashboard-category-header {
        width: 90%;
        font-size: 1rem;
    }

    .dashboard-category-item {
        width: 90%;
        font-size: 1rem;
    }

    .feature-focus {
        flex-wrap: wrap;
        padding: 1rem 0;
        margin: 1rem 0;
    }

    .external-header {
        height: 5rem;
    }

    .action-header {
        font-size: 2.5rem;
    }

    .header-menu {
        width: 100%;
        font-size: 0.8rem;
    }

    .header-menu a {
        padding: 0 0.4rem;
    }

    .login-form {
        width: 90%;
        height: 50%;
    }

    .pricing-card {
        width: 95%;
    }

    .pricing-card-header {
        font-size: 2rem;
    }

    .pricing-header, .pricing-overlay {
        height: 60vh;
        font-size: 2rem;
    }

    .header {
        height: 9rem;
        flex-wrap: wrap;
        padding-bottom: 1rem;
    }

    .feature-header-title {
        width: 85%;
        font-size: 1.6rem;
        margin: 4rem auto 1rem auto;
        text-align: center;
    }

    .feature-header-description {
        width: 80%;
        font-size: 4rem;
        margin: 2rem auto 1rem auto;
    }

    .feature-icon {
        font-size: 12rem;
        margin: auto;
        width: 100%;
        color: midnightblue;
    }

    .feature-item {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .feature-item-header {
        margin: 1rem auto;
    }

    .feature-focus-description {
        margin: auto;
    }

    .feature-focus-text {
        width: 90%;
        flex-shrink: 0;
        margin: 1rem;
    }

    .modal-container {
        width: 90%;
        margin: auto;
    }

    .feature-focus-image {
        width: 90%;
    }

    .feature-focus-header {
        margin: 1rem 0;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .docs-menu {
        padding: 2rem 0 2rem 20%;
    }

    .splash {
        background-size: 100% 100%;
        height: 50vh;
        width: 100%;
    }
    
    .docs-section ul, .docs-section h2, .docs-section h3 {
        margin: 1rem 1rem;
        line-height: 140%;
        font-size: 1.4rem;
    }

    .splash-title {
        top: 14%;
        left: 30%;
        font-size: 2.6rem;
    }

    .feature-focus {
        width: 100%;
    }

    .feature-focus-description {
        margin-bottom: 1rem;
    }

    .docs-section {
        width: 95%;
        padding: 2rem 0;
    }

    .splash-subtitle {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
    }

    .splash-subtitle-new {
        width: 100%;
    }

    .splash-signup {
        width: 100%;
        margin-top: 4rem;
    }

    .external-title {
        line-height: 3rem;
        font-size: 2.6rem;
        padding: 0 0.5rem;
        justify-content: space-around;
        text-align: center;
        width: 60%;
    }

    .external-title a {
        text-decoration: none;
    }

    .external-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1.5rem;
        line-height: 1.8rem;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .external-menu a {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px gray solid;
        background-color: white;
    }

    .external menu a:hover {
        background-color: #EEE;
    }

    .signup-form {
        width: 90%;
    }

    .right-menu {
        width: 100%;
        font-size: 1rem;
        align-items: center;
    }

    .dashboard-sidebar {
        width: 100%;
        margin: 1rem 0;
        flex-direction: column;
    }

    .right-menu a {
        margin: 0;
    }

    .site-map-logo, .site-map-item {
        font-size: 0.8rem;
        font-size: 700;
        display: flex;
        justify-content: center;
    }

    .pricing-card-price {
        font-size: 3rem;
    }

    .docs-menu {
        width: 100vw;
        height: auto;
    }

    .docs-main {
        flex-wrap: wrap;
        background-color: #F5F7FB;
        justify-content: center;
    }

    .external-menu, .right-menu {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .mobile-menu-button {
        width: 35%;
        visibility: visible;
        display: flex;
        justify-content: flex-end;
        padding-right: 0.5rem;
    }

    .features-header {
        flex-wrap: wrap;
        padding: 4rem 0 1rem 0;
    }

    .features-header img {
        width: 90%;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 1.5rem;
        margin-left: 0.5rem;
    }

    .mobile-menu a:nth-child(odd) {
        background-color: #EEE;
    }

    .mobile-menu a:link, .mobile-menu a:visited {
        text-decoration: none;
        color: black;
        line-height: 3.5rem;
        font-size: 1.5rem;
    }

    .mobile-menu a:hover {
        background-color: #DDD;
    }

    .mobile-menu a {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .account-list, .rule-list {
        width: 95%;
    }

    .account-item, .rule-item, .dashboard-category-item, .users-item {
        font-size: 0.8rem;
    }

    .account-header, .rule-header, .dashboard-category-header {
        font-size: 1rem;
    }

    .left-menu-item svg {
        width: 50%;
    }
}

/* -------------------------------------------------------------------- */

@media screen and (min-width: 600px) and (max-width: 1200px) {

    .confirm-form {
        width: 50%;
    }

    .support-drawer {
        width: 50%;
    }

    .feature-focus-image {
        height: 20rem;
    }

    .splash-text {
        width: 60%;
        align-items: center;
    }

    .splash-subtitle-new {
        width: 100%;
        padding: 0 2rem;
    }

    .splash-subtitle {
        padding: 0 2rem;
    }

    .feature-card-new-title {
        font-size: 2rem;
        margin: 4rem 0 2rem 0;
    }

    .feature-card-new-description {
        line-height: 160%;
    }

    .site-map-logo {
        width: 30%;
    }

    .footer-button {
        width: 60%;
    }

    .features-header {
        flex-wrap: wrap;
    }

    .features-header-message {
        width: 100%;
        margin-top: 3rem;
        line-height: 160%;
    }

    .footer-button-header {
        font-size: 20px;
    }

    .site-map-logo h1 {
        display: flex;
        justify-content: flex-end;
    }

    .dashboard-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .dashboard-score {
        width: 65%;
    }

    .card-wrapper {
        width: 30%;
    }

    .dashboard-headlines {
        flex-wrap: wrap;
    }

    .dashboard-sidebar {
        width: 100%;
    }

    .dashboard-sidebar-2 {
        flex-direction: column;
    }

    .trend-card-wrapper {
        width: 47%;
    }

    .metric-card-wrapper {
        width: 30%;
    }

    .web-rules, .web-accounts {
        max-width: 1000px;
        box-shadow: 0 0 5 5;
    }

    .payments-main {
        width: 90%;
    }

    .mobile-rules, .mobile-accounts {
        display: none;
    }

    .feature-focus-header {
        font-size: 2rem;
    }

    .payments {
        min-height: 500px;
        min-width: 400px;
    }

    .history-main {
        width: 100%;
    }

    .feature-card {
        width: 38%;
    }

    .feature-cards {
        width: 95%;
    }

    .left-menu {
        width: 10%;
        height: 100vh;
    }

    .settings-menu-item {
        width: 10rem;
    }

    .external-menu {
        font-size: 1.3rem;
    }

    .mobile-menu-button {
        display: none;
        width: 0;
    }

    .mobile-menu {
        display: none;
        height: 0;
        width: 0;
    }

    .pricing-cards {
        display: flex;
    }

    .right-menu {
        width: 30%;
        font-size: 1.2rem;
        justify-content: flex-end;
    }

    .header-menu {
        font-size: 1.2rem;
        margin-right: 1rem;
        padding-right: 2rem;
    }

    .dashboard-item {
        width: 25%;
    }

    .login-button-text, .signup-button-text {
        font-size: 1.4rem;
    }

    .external-title {
        font-size: 2.3rem;
        width: 25%;
    }

    .rules, .accounts, .dashboard {
        width: 100%;
    }

    .left-menu-item svg {
        width: 50%;
    }

    .left-menu-item a:link, .left-menu-item a:visited {
        padding: 1.5rem 0;
    }
}

/**************************************************/

@media screen and (min-width: 1200px) {

    .confirm-form {
        max-width: 300px;
        width: 30%;
    }

    .new-account-modal {
        padding: 2rem;
    }

    .splash-subtitle {
        font-size: 2.5rem;
        line-height: 160%;
    }

    .feature-focus-image {
        height: 20rem;
    }

    .feature-card-new {
        max-width: 500px;
    }

    .feature-card-new-title {
        font-size: 32px;
    }

    .features-header {
        max-height: 70vh;
    }

    .feature-header-message {
        width: 50%;
    }

    .footer-button {
        align-items: center;
    }

    .footer-button-main {
        width: 30%;
    }

    .splash-signup {
        height: 7rem;
    }

    .dashboard-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .card-metric-wrapper {
        font-size: 48px;
    }

    .dashboard-sidebar {
        flex-direction: column;
        justify-content: space-between;
        width: 28%;
    }

    .dashboard-score {
        width: 30%; 
        align-items: stretch;
    }

    .trend-card-wrapper {
        width: 100%;
        height: 48%;
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
    }

    .left-menu-item a:link, .left-menu-item a:visited {
        padding: 2rem 0;
    }

    .left-menu-item:first-child {
        margin-top: 4rem;
    }

    .mobile-rules, .mobile-accounts {
        display: none;
    }

    .header-menu {
        padding-right: 2rem;
    }

    .support-drawer {
        width: 50%;
    }

    .web-rules, .web-accounts {
      
        width: 100%;
        max-width: 1100px;
        box-shadow: 0 0 5 5;
    }

    .dashboard-sidebar-2 {
        width: 28%;
        flex-direction: column;
        justify-content: space-between;
    }

    .web-metrics {
        width: 70%;
        display: flex;
        align-items: stretch;
    }

    .dashboard-trends-graph {
        width: 70%;
    }

    .settings-menu-item {
        width: 10rem;
    }

    .payments {
        min-height: 500px;
        min-width: 400px;
        max-width: 550px;
    }

    .mobile-menu-button {
        display: none;
        width: 0;
    }

    .mobile-menu {
        display: none;
        height: 0;
        width: 0;
    }

    .action-header {
        line-height: 5rem;
        font-size: 4rem;
        margin: 2rem;
    }

    .action-button {
        padding: 0.5rem 1.5rem;
        font-size: 2rem;
    }

    .left-menu {
        width: 10%;
        height: 100vh;
    }

    .rules, .accounts, .dashboard, .users-main, .support-screen, .history-main {
        width: 100%;
    }

    .left-menu-item svg {
        width: 90%;
    }

    .feature-focus-text {
        width: 50%;
    }

    .login-form, .signup-form {
        width: 40%;
    }

    .site-map-item-header {
        font-size: 1.7rem;
    }

    .site-map-item {
        margin-right: 2rem;
    }

    .site-map-item-link {
        font-size: 1.3rem;
    }
}

/************************************************************/

@media screen and (min-width: 600px) and (max-width: 900px) {

    .web-metrics {
        width: 100%;
        align-items: stretch;
    }

    .splash-subtitle {
        font-size: 1.65rem;
    }

    .splash-signup {
        margin-top: 1rem;
    }

    .footer-button-main {
        width: 50%;
    }

    .footer-button {
        align-items: center;
    }

    .splash-image {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    .splash-subtitle-new {
        font-size: 1.3rem;
    }

    .splash-text {
        width: 55%;
    }

    .dashboard-trends-graph {
        width: 100%;
    }

    .dashboard-trends-container {
        flex-direction: column;
    }

    .dashboard-sidebar-2 {
        flex-direction: row;
    }

    .dashboard-trends-header {
        flex-wrap: wrap;
    }

    .history-chart-header-filters {
        width: 100%;
        justify-content: space-between;
    }

    .dashboard-trends-title {
        width: 100%;
    }

    .dashboard-title-short {
        width: 30%;
    }

    .dashboard-filters {
        width: 70%;
    }

}

/************************************************************/

@media screen and (min-width: 900px) and (max-width: 1200px) {

    .web-metrics {
        width: 100%;
        align-items: stretch;
    }

    .footer-button-main {
        width: 40%;
    }

    .footer-button {
        align-items: center;
    }

    .dashboard-trends-graph {
        width: 70%;
    }

    .trend-card-wrapper {
        width: 100%;
        height: 48%;
        display: flex;
        align-items: space-between;
    }

    .dashboard-sidebar-2 {
        width: 28%;
        justify-content: stretch;
    }

    .splash-signup {
        margin-top: 2rem;
    }
}