* {
    margin: 0;
    padding: 0;
}

h1 {
    width: 100vh;
    height: 5rem;
    background-color: green;
    color: white;
}

.header {
    width: 100%;
    background-color: #0984e3;
    height: 3rem;
    color: white;
    display: flex;
    justify-content: space-between;
}

.header-title {
    line-height: 3rem;
    font-size: 2.8rem;
    padding: 0 0.5rem;
    width: 50%;
}

.header-menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    line-height: 3rem;
}

.external-header {
    width: 100%;
    background-color: transparent;
    height: 3rem;
    color: #103c42;
    display: flex;
    justify-content: flex-start;
}

.external-title {
    line-height: 3rem;
    font-size: 2.8rem;
    padding: 0 0.5rem;
    width: 30%;
}

.external-title a {
    text-decoration: none;
}

.feature-header-title {
    margin: 6rem auto 1rem auto;
    width: 60%;
    font-size: 2.5rem;
}

.feature-header-description {
    width: 60%;
    margin: 2rem auto;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.feature-icon {
    font-size: 3rem;
    color: midnightblue;
}

.feature-items {
    display: flex;
    flex-wrap: wrap;
    margin: auto 3rem;
}

.feature-item {
    width: 50%;
    margin: 2rem auto;
}

.feature-item-header {
    margin: 0.5rem 0;
    font-size: 1.6rem;
}

.action-call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: purple;
}

.action-header {
    color: white;
    line-height: 3rem;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.action-button {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

.external-menu {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 2rem;
}

.external-menu a {
    text-decoration: none;
    color: #333333;
    margin: 0.4rem 1rem;
}

.header-menu a {
    text-decoration: none;
    color: white;
}

.active-link {
    text-decoration: underline;
}

.splash-title {
    position: absolute;
    top: 25%;
    left: 40%;
    background: transparent;
    color: #103c42;
    font-size: 4rem;
}

.splash-subtitle {
    position: absolute;
    top: 40%;
    left: 30%;
}

.site-map {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 30vh;
    background-color: #F2F2f2;
}

.site-map-item {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 80%;
    justify-content: flex-start;
}

.site-map-item-header {
    font-weight: 700;
    margin: 0.5rem auto;
}

.site-map-item-link {
    margin: 0.5rem auto;
}

.accounts {
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
}

.account-list, .rule-list {
    margin: 5rem auto;
    width: 80%;
}

.app {
    height: 100vh;
}

.account-item, .rule-item {
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
}

.account-item:first-child {
    border-top: 1px solid #CCC;
}

.rule-item:first-child {
    border-top: 1px solid #CCC;
}

.remove-button {
    border: none;
    background-color: #e74c3c;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 3px;
}

.add-button {
    background-color: #0984e3;
    color: white;
    border-radius: 3px;
    padding: 0.4rem 1rem;
    font-weight: 400;
    border: none;
}

.rule-header, .account-header {
    display: flex;
    justify-content: space-around;
    padding: 0.8rem 1rem;
    background-color: #0984e3;
    line-height: 2rem;
    font-size: 1.4rem;
    color: #FFF;
}

.rule-detail {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.rule-description {
    width: 60%;
}

.rule-category, .rule-provider {
    width: 20%;
}

.rule-status {
    width: 20%;
    display: flex;
    justify-content: center;
}

.disabled-button, .enabled-button {
    border-radius: 3px;
    width: 5rem;
    border: none;
}

.enabled-button {
    background-color: #27ae60;
    color: #FFF;
    padding: 0.2rem 0;
    height: 2rem;
}

.disabled-button {
    background-color: lightgray;
    color: gray;
    padding: 0.2rem;
    height: 2rem;
}

.dashboard {
    background-color: #EEE;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}

.dashboard-header {
   padding: 2rem auto;
}

.dashboard-item {
    background-color: #FFF;
    height: 50vh;
    width: 50vh;
    border: 1px solid #CCC;
    margin: 5rem auto;
}

.dashboard-header {
    line-height: 3rem;
    font-size: 2rem;
    padding: 0 1rem;
}

.dashboard-main {
    padding: 0.5rem 1rem;
    border-top: 1px dotted gray;
}

.splash {
    background-image: url(../../static/lighthouse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.feature-focus {
    background-color: #DEDEDE;
    height: 50vh;
    padding: 1rem 3rem;
    margin: 3rem auto;
}

@media screen and (max-width: 600px) {

    .header-title {
        width: 100%;
        text-align: center;
        line-height: 5rem;
        font-size: 4rem;
    }

    .header-menu {
        width: 100%;
    }

    .header {
        height: 8rem;
        flex-wrap: wrap;
    }

    .feature-header-title {
        width: 90%;
        font-size: 1.7rem;
        margin: 3rem auto 1rem auto;
        text-align: center;
    }

    .feature-header-description {
        width: 80%;
    }

    .feature-icon {
        font-size: 12rem;
        margin: auto;
        width: 100%;
        color: midnightblue;
    }

    .feature-item {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .feature-item-header {
        margin: 1rem auto;
    }

    .splash {
        background-size: 100% 100%;
        height: 50vh;
    }

    .splash-title {
        top: 14%;
        left: 30%;
        font-size: 2.6rem;
    }

    .splash-subtitle {
        top: 20%;
        left: 30%;
        font-size: 1rem;
        width: 60%;
    }

    .external-title {
        line-height: 2rem;
        font-size: 1.6rem;
        padding: 0 0.5rem;
        width: 40%;
    }

    .external-title a {
        text-decoration: none;
    }

    .external-menu {
        display: flex;
        justify-content: flex-end;
        font-size: 1rem;
        line-height: 1.2rem;
        width: 60%;
    }

    .external-menu a {
        margin: 0.4rem 0.5rem;
    }
}