* {
    margin: 0;
    padding: 0;
}

h1 {
    width: 100vh;
    height: 5rem;
    background-color: green;
    color: white;
}

.header {
    width: 100%;
    background-color: #0984e3;
    height: 3rem;
    color: white;

    display: flex;
    justify-content: space-between;
}

.header-title {
    line-height: 3rem;
    font-size: 2.8rem;
    padding: 0 0.5rem;
}

.header-menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    line-height: 3rem;
}

.header-menu a {
    text-decoration: none;
    color: white;
}

.active-link {
    color: red;
    font-weight: 700;
}

.accounts {
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
}

.account-list, .rule-list {
    margin: 5rem auto;
    width: 80%;
}

.app {
    height: 100vh;
}

.account-item, .rule-item {
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
}

.account-item:first-child {
    border-top: 1px solid #CCC;
}

.rule-item:first-child {
    border-top: 1px solid #CCC;
}

.remove-button {
    border: none;
    background-color: #e74c3c;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 3px;
}

.add-button {
    background-color: #0984e3;
    color: white;
    border-radius: 3px;
    padding: 0.4rem 1rem;
    font-weight: 400;
    border: none;
}

.rule-header {
    display: flex;
    justify-content: space-around;
    padding: 0.8rem 1rem;
    background-color: #0984e3;
    line-height: 2rem;
    font-size: 1.4rem;
    color: #FFF;
}

.rule-detail {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.rule-description {
    width: 60%;
}

.rule-category, .rule-provider {
    width: 20%;
}

.rule-status {
    width: 20%;
    display: flex;
    justify-content: center;
}

.disabled-button, .enabled-button {
    border-radius: 3px;
    width: 5rem;
    border: none;
}

.enabled-button {
    background-color: #27ae60;
    color: #FFF;
    padding: 0.2rem 0;
    height: 2rem;
}

.disabled-button {
    background-color: lightgray;
    color: gray;
    padding: 0.2rem;
    height: 2rem;
}

.dashboard {
    background-color: #EEE;
    height: 100vh;
    margin: 5em auto;
    display: flex;
    justify-content: flex-start;
}

.dashboard-header {
   padding: 2rem auto;
}

.dashboard-item {
    background-color: #FFF;
    height: 50vh;
    width: 50vh;
    border: 1px solid #CCC;
}

.dashboard-header {
    line-height: 3rem;
    font-size: 2rem;
    padding: 0 1rem;
}

.dashboard-main {
    padding: 0.5rem 1rem;
    border-top: 1px dotted gray;
}