* {
    margin: 0;
    padding: 0;
}

h1 {
    width: 100vh;
    height: 5rem;
    background-color: green;
    color: white;
}

.header {
    width: 100%;
    background-color: #0984e3;
    height: 3rem;
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
}

.header-title {
    line-height: 3rem;
    font-size: 3rem;
}

.header-menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

.header-menu a {
    text-decoration: none;
    color: white;
}

.active-link {
    color: red;
    font-weight: 700;
}

.accounts {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.account-list, .rule-list {
    margin: 2rem auto;
    width: 80%;
    height: 10rem;
}

.account-item, .rule-item {
    border: 1px solid #666;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #F9F9F9;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
}

.remove-button {
    border: none;
    background-color: #e74c3c;
    color: white;
    padding: 0.4rem 1rem;
}

.add-button {
    background-color: #0984e3;
    color: white;
    border-radius: 3px;
    padding: 0.4rem 1rem;
    font-weight: 400;
}

.rule-header {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}

.rule-detail {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.rule-description {
    width: 60%;
}

.rule-category, .rule-provider {
    width: 20%;
}

.rule-status {
    width: 20%;
    display: flex;
    justify-content: center;
}

.disabled-button, .enabled-button {
    border-radius: 3px;
    width: 5rem;
}

.enabled-button {
    background-color: #27ae60;
    color: #FFF;
    padding: 0.2rem 0;
    height: 2rem;
}

.disabled-button {
    background-color: lightgray;
    color: gray;
    padding: 0.2rem;
    height: 2rem;
}